{% extends "base.html" %}

{% block content %}
<div class="container">
  <form class="" action="{{ url_for_security('login') }}" method="post">
    {{ login_user_form.hidden_tag() }}
    <div class="form-group">
      <label for="">Email</label>
      <input class="form-control" type="text" name="email"/>
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input class="form-control" type="password" name="password"/>
    </div>
    <div class="form-group">
      <label for=""><label for="">Remember Me</label>
      <input class="form-control" type="checkbox" name="remember"/>
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" name="submit"/>
    </div>
    <input type="hidden" name="next"/>
  </form>
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="row">
        <div class="alert alert-info">{{ message }}</div>
      </div>
    {% endfor %}
  {% endwith %}
</div>
{% endblock %}
