{% extends "base.html" %}

{% block content %}
<div class="container">
  {% for user in users %}
    <div class="row">
      <div class="col-md-3">
        {{ user.username }}
      </div>
      <div class="col-md-3">
        {{ user.email }}
      </div>
      <div class="col-md-3">
        {{ user.active }}
      </div>
      <div class="col-md-3">
        <a href="/user_details/{{ user.id }}">Details</a>
      </div>
    </div>
  {% endfor %}
  {% with messages = get_flashed_messages() %}
    {% for message in messages %}
      <div class="row">
        <div class="alert alert-info">{{ message }}</div>
      </div>
    {% endfor %}
  {% endwith %}
</div>
{% endblock %}
