{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Tickets assigned to {{ current_user.username }}</h1>
  <div class="row">
    <div class="col-md-3">
      <b>Title</b>
    </div>
    <div class="col-md-3">
      <b>Due date</b>
    </div>
    <div class="col-md-3">
      <b>Status</b>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  {% for ticket in tickets %}
  <div class="row">
    <div class="col-md-3">
      {{ ticket.title }}
    </div>
    <div class="col-md-3">
      {{ ticket.target }}
    </div>
    <div class="col-md-3">
      {{ ticket.get_status_message() }}
    </div>
    <div class="col-md-3">
      <a href="/my_tickets/{{ ticket.id}}">Details</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
