{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>{{ ticket.title }}</h1>
  <div class="row">
    <div class="col-md-2"><b>Status</b></div>
    <div class="col-md-10">
      {{ ticket.get_status_meta()['message']}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><b>Client</b></div>
    <div class="col-md-10">
      {{ ticket.client.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><b>Product Area</b></div>
    <div class="col-md-10">
      {{ ticket.product_area.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><b>Due date</b></div>
    <div class="col-md-10">
      {{ ticket.target.strftime('%b. %d, %Y') }}
    </div>
  </div>
  {% if ticket.description|length > 0 %}
  <div class="row">
    <div class="col-md-12 well">{{ ticket.description }}</div>
  </div>
  {% endif %}
  {% if ticket.ticket_status >= 0 %}
  <div class="form-group">
    <a class="btn btn-default form-control" href="/ticket_next/{{ ticket.id }}">{{ ticket.get_status_meta()['button_title']}}</a>
  </div>
  {% endif %}
  {% if current_user.is_admin() %}
    <div class="form-group">
      <a class="btn btn-default form-control" href="/edit_ticket/{{ ticket.id }}">Edit Ticket</a>
    </div>
  {% endif %}
  <form action="/add_comment" method="POST">
    <input type="hidden" value="{{ ticket.id }}" name="ticket_id"/>
    <div class="form-group">
      <label for="">Comments</label>
      <textarea class="form-control" name="log_message" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <input class="btn btn-default form-control" type="submit" value="Add Comment">
    </div>
  </form>
  {% for log in ticket.logs %}
  <div class="row">
    <div class="alert {% if log.message_type == constants.TICKET_LOG_TYPE_STATUS_CHANGE %} alert-info {% else %} alert-success {% endif %}">
      <b>{{ log.message }}</b><br/>
      <i>{{ log.author.username }}</i>&nbsp;<small>{{ log.created.strftime('%b. %d, %Y %H:%M') }}</small>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
