{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>{{ ticket.title }}</h1>
  <div class="row">
    <div class="col-md-2"><b>Status</b></div>
    <div class="col-md-10">
      {{ ticket.get_status_meta()['message']}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><b>Client</b></div>
    <div class="col-md-10">
      {{ ticket.client.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><b>Product Area</b></div>
    <div class="col-md-10">
      {{ ticket.product_area.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><b>Due date</b></div>
    <div class="col-md-10">
      {{ ticket.target.strftime('%b. %d, %Y') }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 well">{{ ticket.description }}</div>
  </div>
  <div class="row">
    {% if ticket.ticket_status >= 0 %}
    <div class="col-md-12">
      <a class="btn btn-default" href="/ticket_next/{{ ticket.id }}">{{ ticket.get_status_meta()['button_title']}}</a>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <form action="/add_comment" method="POST">
      <input type="hidden" value="{{ ticket.id }}" name="ticket_id"/>
      <div class="col-md-2">
        <input class="btn btn-default" type="submit" value="Add Comment">
      </div>
      <div class="col-md-10">
        <textarea class="form-control" name="log_message"></textarea>
      </div>
    </form>
  </div>
  {% for log in ticket.logs %}
  <div class="row">
    <div class="alert {% if log.message_type == constants.TICKET_LOG_TYPE_STATUS_CHANGE %} alert-info {% else %} alert-success {% endif %}">
      <b>{{ log.message }}</b><br/>
      <i>{{ log.author.username }}</i>&nbsp;<small>{{ log.created.strftime('%b. %d, %Y %H:%M') }}</small>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
